@media only screen and (max-width:449px){
    .header{
        height:150px;
    }
    .board{
        width:350px;
        padding: 20px;
    }
    
    .popup-box{
        width: 90vw;
        height:50vh;
        margin-top: 30px;
    
    }
    .popup-box button{
        width: 200px;
        height: 60px;
    }
    .pop-up-box-head,
    .winner-name
    {
        font-size: 4rem;
    }

    header .player{
        width: 250px;
        height:60px;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
    }
    header .player .player-1{
        border-radius: 10px;
    }
    .heading{
        font-size: 2.5rem;
    }
    .board .cell:hover{
        box-shadow: 0;
        background-color: #171749;

    }





    

}